<div class="flex items-center justify-center ">
  <app-back-button />
  <div class="bg-slate-100 p-8 rounded-2xl shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold text-center text-slate-900 mb-6">
      Iniciar Sesión
    </h2>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-slate-700 mb-1">Email de usuario</label>
        <input id="email" type="email" name="email" [(ngModel)]="email" required class="input-primary w-full" placeholder="ejemplo@correo.com" />
        <div *ngIf="loginForm.submitted && !email" class="error-text">
          El email de usuario es obligatorio.
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-slate-700 mb-1">Contraseña</label>
        <input id="password" type="password" name="password" [(ngModel)]="password" required class="input-primary w-full" placeholder="********" />
        <div *ngIf="loginForm.submitted && !password" class="error-text">
          La contraseña es obligatoria.
        </div>
      </div>

      <div class="flex flex-col items-center mt-6 gap-4">
        <button type="submit" [disabled]="isLoading"
          class="font-bold bg-orange-500 hover:bg-orange-400 active:bg-orange-600 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out w-full flex items-center justify-center">
            <svg *ngIf="isLoading" class="animate-spin h-5 w-5 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
            </svg>
            <span *ngIf="!isLoading">Iniciar Sesión</span>
            <span *ngIf="isLoading">Iniciando...</span>
        </button>
        <div class="text-sm text-center">
          <a routerLink="/register" class="text-sm text-center text-slate-700 hover:text-blue-800 hover:underline font-semibold">
            ¿No tienes cuenta? Regístrate
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

